[general]
context=from-lab
allowguest=no
allowoverlap=no
udpbindaddr=0.0.0.0:5060
tcpenable=no
tlsenable=no
transport=udp
srvlookup=no
directmedia=no
externaddr=${LAB_ADVERTISED_IP}:${LAB_CHAN_SIP_HOST_PORT}
localnet=127.0.0.0/255.0.0.0
nat=force_rport,comedia
disallow=all
allow=ulaw
allow=alaw
dtmfmode=auto
rtptimeout=30
rtpholdtimeout=60
alwaysauthreject=yes
useragent=POLPhone-Asterisk-Lab

[lab-chan-sip](!)
type=friend
host=dynamic
context=from-lab
disallow=all
allow=ulaw
allow=alaw
directmedia=no
nat=force_rport,comedia
qualify=yes
dtmfmode=auto
transport=udp

[1001](lab-chan-sip)
defaultuser=1001
secret=${LAB_SIP_1001_SECRET}
callerid=POLPhone Lab <1001>

[1002](lab-chan-sip)
defaultuser=1002
secret=${LAB_SIP_1002_SECRET}
callerid=Softphone Lab <1002>
